

/* ************GENERALI**************** */

:root{
    --secondary-color: #9792E4;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.container{
    max-width: 600px;
    margin: 0 auto;  
}

/* **************HEADER************** */
.head-bar{
    background-color: #0084FD;
/*     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em; */
}
#head-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}


.menu{
    color: white;
    font-size: 30px;

}


/* **************HEADER************** */


#cards{
    display: flex;
    flex-direction: column;
    
}


.card{
    width: 100%;

    background-color: #B5DDFF ;
    border-color: 2px solid transparent;
    border-radius: 2em;
    color: #0084FD;
    text-align: center;
    padding: 1.5em 1em;

    margin: 1em auto;
}
.doublecard{
    width: 100%;

    background-color: #B5DDFF ;
    border-radius: 2em;
    color: #0084FD;
    text-align: left;
    padding: 2em 4em 0 4em;

    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

.doublecard>img{
    width: 100%;
}
.card>i{
    font-size: 50px;
    margin-bottom: 0.5em;
    color: #0084FD;
}

.card>h3{
    color: #0084FD;
}


.card,.doublecard p{  
    margin: 1em auto;
    color: black;
    line-height: 200%;
}

.doublecard img{
    width: 100%;



}




.strat-planning{
    color: white;
    width: 100%;
    height: min-content;

    display: flex;
    flex-direction: column;
    padding: 2em;

    
    
}
.strat-planning img{
    width: 100%;
}

.strat-planning h2{
    font-size: 40px;

}
.strat-planning h2,p{
    margin: 2em auto;
    line-height: 200%;
}






.purplecol{
    width: 100%;

    background-color: white ;
    border-color: 2px solid transparent;
    border-radius: 1em;
    color: black;
    text-align: center;
    padding: 2em 4em;

    margin: 1em auto;
}

.purplecol2 img{
    width: 100%;

}





.testimonial-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2em;
}

.testimonials{
    text-align: center;
    color: black;
}
.testimonials h3{
    text-align: center;
    color: var(--secondary-color);
    font-size: x-large;
    margin-top: 2em;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4em;
    text-align: center;
    padding: 4rem;
    margin-bottom: 2rem;
    align-items: center;

}
.avatar{
    overflow: hidden;
    border-radius: 50%; 
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img{
    height: 100%

}
.testimonial-card p::before{
    content: "\f10d" " " ;
    font: normal normal normal 14px/1 FontAwesome;
}
.testimonial-card p::after{
    content: " \f10e" ;
    font: normal normal normal 14px/1 FontAwesome;
}







.numbered-cards{
    display: flex;
    flex-direction: column;

}

.num-card{
    background-color: white;
    border-radius: 3em;
    color: var(--secondary-color);
    padding: 2em;
    margin: 2em;
}



/* utilities */

.g-10{ gap: 10px;}
.g-16{gap: 16px;}

.p-32{
    padding: 0 32px;
}

.bg-secondary-color{
    background-color: var(--secondary-color);
}
.d-flex{
    display: flex;
}



@media screen and (max-width:480px) {
/*     .container{
        background-color: orangered;
    }
     */
}

@media screen and (min-width:480px) and (max-width:768px) {
/*     .container{
        background-color: yellow;
    } */
    
}

@media screen and (min-width:768px) {
    .container{
/*         background-color: green; */
        max-width: 1200px;
        
    }

    #cards{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .card{
        width: 30%;
        display: flex;
        flex-direction: column;
        
    }
    .doublecard{
        width: 60%;
        flex-direction: row;   
    }

    .doublecard>div{
        height: 100%;
        width: 50%;
    }

    .doublecard img{
        width: 50%;
        align-self: flex-end;
/*         height: 50%;
        align-self: bottom; */
    }
    #head-wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }
    .strat-planning{
        flex-direction: row;
    }
    .purplecol{
        align-self: flex-end;
    }
    .purplecol2{
        padding-right: 3em;
    }
}